<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title ?? 'Доска объявлений' }}</title>
    <link rel="shortcut icon" href="assets/img/favicon-32x32.png?v=1" type="image/png">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">
</head>
<body>